ADDR = "0.0.0.0:8080"
GRPC_ADDR = 'localhost:8383'
DB_STRING = 'root:qwerty@tcp(localhost)/time_track_v2?parseTime=true&charset=utf8mb4&loc=UTC'
FRONTEND_URL = 'https://timetrack.st29.ru'

VK_GROUP_ID = ''
VK_GROUP_TOKEN = ''
VK_CONFIRMATION_STRING = ''
VK_SECRET_KEY = ''
VK_COMMUNITY_SCREEN_NAME = ''
